body {
  font-family: "Arial", sans-serif;
  background-color: #f9f3e9;
  color: rgb(27, 80, 35);
  margin: 0;
  padding: 20px;
}

h1,
h2,
h3 {
  color: rgb(50, 98, 34);
}

.navbar {
  background-color: rgb(27, 80, 35);
  padding: 10px;
  display: flex;
  justify-content: space-around;}
  .nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.nav-links a:hover {
  color: rgb(50, 98, 34);
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}