body {
  font-family: "Times", sans-serif;
  background-color: rgb(255, 244, 241);
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 20px;
}

h1,
h2,
h3 {
  color: rgb(0, 0, 0);
}

a {
  color: #c57b3a; /* Warm color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
